/*
 * Copyright (c) 2020 ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include "charybdis.dtsi"

#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>

&kscan0 {
	col-gpios = <&pro_micro 19 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 16 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
		    , <&pro_micro 8  (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
};

&pmw_listener {
	status = "okay";

	// Global axis inversion (single source of truth)
	// This replaces CONFIG_PMW3610_INVERT_X/Y to prevent duplicate inversion
	input-processors = <
		&zip_xy_transform (INPUT_TRANSFORM_X_INVERT | INPUT_TRANSFORM_Y_INVERT)
		&zip_temp_layer 2 1000
	>;

	// Scroll mode
	scroller {
		layers = <3>;

		// No additional inversion needed - already handled globally
		// Increased scaler divisor from 1 to 15 for slower, smoother scrolling
		input-processors = <
			&zip_xy_scaler 1 10
			&zip_xy_to_scroll_mapper
		>;
	};

	// Sniper mode - precise cursor control
	snipe {
		layers = <4>;

		// No additional inversion needed - already handled globally
		input-processors = <
			&zip_xy_scaler 1 3
		>;
	};
};
